@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

input {
  margin-top: 1rem;
}

input::file-selector-button {
  font-weight: bold;
  color: white;
  padding: 0.4em 4em 0.4em 10px;
  border: thin solid grey;
  border-radius: 5px 0px 0px 5px;
  background-color: #1c539f;
  text-align: left;
  cursor: pointer;
}
